altgraph==0.16.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2019.6.16
chardet==3.0.4
configparser==3.7.4
cycler==0.10.0
Eel==0.10.4
future==0.17.1
fxcmpy==1.2.4
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
kiwisolver==1.1.0
macholib==1.11
matplotlib==3.1.0
modulegraph==0.17
numpy==1.16.4
pandas==0.24.2
pefile==2019.4.18
PyMySQL==0.9.3
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
scipy==1.3.0
six==1.12.0
socketIO-client==0.7.2
urllib3==1.26.5
websocket-client==0.56.0
whichcraft==0.5.2
